*SQLite*

O SQLite é uma biblioteca embutida em um processo único que é autônomo, não necessita de servidor e exige zero de configuração. O código é de domínio público e seu uso é gratuito em qualquer tipo de utilização. Trata-se de um sistema SQL completo, capaz de utilizar múltiplas tabelas, índices, gatilhos e visões. Ele funciona, virtualmente, em qualquer plataforme (incluindo móveis) e pesa cerca de 600KB.

*Objetivos*

Ao fim deste laboratório, você deverá ser capaz de: - Conectar-se a um banco de dados do tipo SQLite utilizando o R como interface; - Explorar quais são as tabelas disponíveis no referido banco de dados; - Identificar quais são as colunas de uma dada tabela existente no banco de dados; - Realizar pesquisas simples; - Extrair registros do banco de dados e armazená-las em objetos do R; - Realizar pesquisas mais complexas, utilizando WHERE, GROUP BY, INNER JOIN, HAVING, LIMIT, DISTINCT e GLOB.

1. Baixe o arquivo disco.db e armazene na variável path o caminho completo (pasta) na qual o arquivo foi gravado. Utilize o comando file.path() para combinar a variável path com o nome do arquivo (disco.db) e obter o nome do arquivo com seu respectivo caminho. Armazene este resultado na variável fname.

In [ ]:
## Arquivo: disco.db é um arquivo binário

## Fazer download do arquivo e trabalhar com ele localmente

2. Utilizando o pacote RSQLite, conecte-se ao arquivo de banco de dados. Armazene a conexão na variável conn.

In [1]:
library(RSQLite)

In [5]:
## dbConnect recebe dois argumentos: 
## 1) o formato do banco de dados que iremos conectar (driver);
## 2) o caminho para o arquivo que iremos trabalhar 

fname = file.path("ME315", "disco", "disco.db")
file.exists(fname)

conn = dbConnect(SQLite(), fname)
conn

[1] TRUE

<SQLiteConnection>
  Path: /srv/data/ME315/disco/disco.db
  Extensions: TRUE

3. Liste as tabelas existentes no banco de dados.

In [6]:
## Para listar tabelas, utilizamos dbListTables()

dbListTables(conn)

 [1] "albums"          "artists"         "customers"       "employees"
 [5] "genres"          "invoice_items"   "invoices"        "media_types"
 [9] "playlist_track"  "playlists"       "sqlite_sequence" "sqlite_stat1"
[13] "tracks"

4. Identifique os nomes de todas as colunas existentes na tabela customers.

In [9]:
## Para indicar colunas existentes em uma tabela específica utilizamos dbListFields()
## Uma maneira de lembrar é entender que as COLUNAS são CAMPOS de uma tabela

dbListFields(conn, 'customers')

 [1] "CustomerId"   "FirstName"    "LastName"     "Company"      "Address"
 [6] "City"         "State"        "Country"      "PostalCode"   "Phone"
[11] "Fax"          "Email"        "SupportRepId"

5. Utilizando apenas SQLite, com o apoio do comando dbGetQuery, identifique quantos clientes estão atualmente cadastrados neste banco de dados.

In [13]:
## "Selecione todas as colunas da tabela customers"

## Selecionando todas as linhas e colunas:
dbGetQuery(conn, "SELECT * FROM customers")

## Selecionando a soma dos clientes:
dbGetQuery(conn, "SELECT COUNT(*) FROM customers")

## Selecionando a soma dos clientes pelo identificador:
dbGetQuery(conn, "SELECT COUNT(CustomerId) FROM customers")

   CustomerId FirstName LastName
1   1         Luís      Gonçalves
2   2         Leonie    Köhler
3   3         François  Tremblay
4   4         Bjørn     Hansen
5   5         František Wichterlová
6   6         Helena    Holý
7   7         Astrid    Gruber
8   8         Daan      Peeters
9   9         Kara      Nielsen
10 10         Eduardo   Martins
11 11         Alexandre Rocha
12 12         Roberto   Almeida
13 13         Fernanda  Ramos
14 14         Mark      Philips
15 15         Jennifer  Peterson
16 16         Frank     Harris
17 17         Jack      Smith
18 18         Michelle  Brooks
19 19         Tim       Goyer
20 20         Dan       Miller
21 21         Kathy     Chase
22 22         Heather   Leacock
23 23         John      Gordon
24 24         Frank     Ralston
25 25         Victor    Stevens
26 26         Richard   Cunningham
27 27         Patrick   Gray
28 28         Julia     Barnett
29 29         Robert    Brown
30 30         Edward    Francis
31 31         Martha    Silk
32 32         Aaron     Mitchell
33 33         Ellie     Sullivan
34 34         João      Fernandes
35 35         Madalena  Sampaio
36 36         Hannah    Schneider
37 37         Fynn      Zimmermann
38 38         Niklas    Schröder
39 39         Camille   Bernard
40 40         Dominique Lefebvre
41 41         Marc      Dubois
42 42         Wyatt     Girard
43 43         Isabelle  Mercier
44 44         Terhi     Hämäläinen
45 45         Ladislav  Kovács
46 46         Hugh      O'Reilly
47 47         Lucas     Mancini
48 48         Johannes  Van der Berg
49 49         Stanisław Wójcik
50 50         Enrique   Muñoz
51 51         Joakim    Johansson
52 52         Emma      Jones
53 53         Phil      Hughes
54 54         Steve     Murray
55 55         Mark      Taylor
56 56         Diego     Gutiérrez
57 57         Luis      Rojas
58 58         Manoj     Pareek
59 59         Puja      Srivastava
   Company
1  Embraer - Empresa Brasileira de Aeronáutica S.A.
2  NA
3  NA
4  NA
5  JetBrains s.r.o.
6  NA
7  NA
8  NA
9  NA
10 Woodstock Discos
11 Banco do Brasil S.A.
12 Riotur
13 NA
14 Telus
15 Rogers Canada
16 Google Inc.
17 Microsoft Corporation
18 NA
19 Apple Inc.
20 NA
21 NA
22 NA
23 NA
24 NA
25 NA
26 NA
27 NA
28 NA
29 NA
30 NA
31 NA
32 NA
33 NA
34 NA
35 NA
36 NA
37 NA
38 NA
39 NA
40 NA
41 NA
42 NA
43 NA
44 NA
45 NA
46 NA
47 NA
48 NA
49 NA
50 NA
51 NA
52 NA
53 NA
54 NA
55 NA
56 NA
57 NA
58 NA
59 NA
   Address                                  City                State
1  Av. Brigadeiro Faria Lima, 2170          São José dos Campos SP
2  Theodor-Heuss-Straße 34                  Stuttgart           NA
3  1498 rue Bélanger                        Montréal            QC
4  Ullevålsveien 14                         Oslo                NA
5  Klanova 9/506                            Prague              NA
6  Rilská 3174/6                            Prague              NA
7  Rotenturmstraße 4, 1010 Innere Stadt     Vienne              NA
8  Grétrystraat 63                          Brussels            NA
9  Sønder Boulevard 51                      Copenhagen          NA
10 Rua Dr. Falcão Filho, 155                São Paulo           SP
11 Av. Paulista, 2022                       São Paulo           SP
12 Praça Pio X, 119                         Rio de Janeiro      RJ
13 Qe 7 Bloco G                             Brasília            DF
14 8210 111 ST NW                           Edmonton            AB
15 700 W Pender Street                      Vancouver           BC
16 1600 Amphitheatre Parkway                Mountain View       CA
17 1 Microsoft Way                          Redmond             WA
18 627 Broadway                             New York            NY
19 1 Infinite Loop                          Cupertino           CA
20 541 Del Medio Avenue                     Mountain View       CA
21 801 W 4th Street                         Reno                NV
22 120 S Orange Ave                         Orlando             FL
23 69 Salem Street                          Boston              MA
24 162 E Superior Street                    Chicago             IL
25 319 N. Frances Street                    Madison             WI
26 2211 W Berry Street                      Fort Worth          TX
27 1033 N Park Ave                          Tucson              AZ
28 302 S 700 E                              Salt Lake City      UT
29 796 Dundas Street West                   Toronto             ON
30 230 Elgin Street                         Ottawa              ON
31 194A Chain Lake Drive                    Halifax             NS
32 696 Osborne Street                       Winnipeg            MB
33 5112 48 Street                           Yellowknife         NT
34 Rua da Assunção 53                       Lisbon              NA
35 Rua dos Campeões Europeus de Viena, 4350 Porto               NA
36 Tauentzienstraße 8                       Berlin              NA
37 Berger Straße 10                         Frankfurt           NA
38 Barbarossastraße 19                      Berlin              NA
39 4, Rue Milton                            Paris               NA
40 8, Rue Hanovre                           Paris               NA
41 11, Place Bellecour                      Lyon                NA
42 9, Place Louis Barthou                   Bordeaux            NA
43 68, Rue Jouvence                         Dijon               NA
44 Porthaninkatu 9                          Helsinki            NA
45 Erzsébet krt. 58.                        Budapest            NA
46 3 Chatham Street                         Dublin              Dublin
47 Via Degli Scipioni, 43                   Rome                RM
48 Lijnbaansgracht 120bg                    Amsterdam           VV
49 Ordynacka 10                             Warsaw              NA
50 C/ San Bernardo 85                       Madrid              NA
51 Celsiusg. 9                              Stockholm           NA
52 202 Hoxton Street                        London              NA
53 113 Lupus St                             London              NA
54 110 Raeburn Pl                           Edinburgh           NA
55 421 Bourke Street                        Sidney              NSW
56 307 Macacha Güemes                       Buenos Aires        NA
57 Calle Lira, 198                          Santiago            NA
58 12,Community Centre                      Delhi               NA
59 3,Raj Bhavan Road                        Bangalore           NA
   Country        PostalCode Phone               Fax
1  Brazil         12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
2  Germany        70174      +49 0711 2842222    NA
3  Canada         H2G 1A7    +1 (514) 721-4711   NA
4  Norway         0171       +47 22 44 22 22     NA
5  Czech Republic 14700      +420 2 4172 5555    +420 2 4172 5555
6  Czech Republic 14300      +420 2 4177 0449    NA
7  Austria        1010       +43 01 5134505      NA
8  Belgium        1000       +32 02 219 03 03    NA
9  Denmark        1720       +453 3331 9991      NA
10 Brazil         01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564
11 Brazil         01310-200  +55 (11) 3055-3278  +55 (11) 3055-8131
12 Brazil         20040-020  +55 (21) 2271-7000  +55 (21) 2271-7070
13 Brazil         71020-677  +55 (61) 3363-5547  +55 (61) 3363-7855
14 Canada         T6G 2C7    +1 (780) 434-4554   +1 (780) 434-5565
15 Canada         V6C 1G8    +1 (604) 688-2255   +1 (604) 688-8756
16 USA            94043-1351 +1 (650) 253-0000   +1 (650) 253-0000
17 USA            98052-8300 +1 (425) 882-8080   +1 (425) 882-8081
18 USA            10012-2612 +1 (212) 221-3546   +1 (212) 221-4679
19 USA            95014      +1 (408) 996-1010   +1 (408) 996-1011
20 USA            94040-111  +1 (650) 644-3358   NA
21 USA            89503      +1 (775) 223-7665   NA
22 USA            32801      +1 (407) 999-7788   NA
23 USA            2113       +1 (617) 522-1333   NA
24 USA            60611      +1 (312) 332-3232   NA
25 USA            53703      +1 (608) 257-0597   NA
26 USA            76110      +1 (817) 924-7272   NA
27 USA            85719      +1 (520) 622-4200   NA
28 USA            84102      +1 (801) 531-7272   NA
29 Canada         M6J 1V1    +1 (416) 363-8888   NA
30 Canada         K2P 1L7    +1 (613) 234-3322   NA
31 Canada         B3S 1C5    +1 (902) 450-0450   NA
32 Canada         R3L 2B9    +1 (204) 452-6452   NA
33 Canada         X1A 1N6    +1 (867) 920-2233   NA
34 Portugal       NA         +351 (213) 466-111  NA
35 Portugal       NA         +351 (225) 022-448  NA
36 Germany        10789      +49 030 26550280    NA
37 Germany        60316      +49 069 40598889    NA
38 Germany        10779      +49 030 2141444     NA
39 France         75009      +33 01 49 70 65 65  NA
40 France         75002      +33 01 47 42 71 71  NA
41 France         69002      +33 04 78 30 30 30  NA
42 France         33000      +33 05 56 96 96 96  NA
43 France         21000      +33 03 80 73 66 99  NA
44 Finland        00530      +358 09 870 2000    NA
45 Hungary        H-1073     NA                  NA
46 Ireland        NA         +353 01 6792424     NA
47 Italy          00192      +39 06 39733434     NA
48 Netherlands    1016       +31 020 6223130     NA
49 Poland         00-358     +48 22 828 37 39    NA
50 Spain          28015      +34 914 454 454     NA
51 Sweden         11230      +46 08-651 52 52    NA
52 United Kingdom N1 5LH     +44 020 7707 0707   NA
53 United Kingdom SW1V 3EN   +44 020 7976 5722   NA
54 United Kingdom EH4 1HH    +44 0131 315 3300   NA
55 Australia      2010       +61 (02) 9332 3633  NA
56 Argentina      1106       +54 (0)11 4311 4333 NA
57 Chile          NA         +56 (0)2 635 4444   NA
58 India          110017     +91 0124 39883988   NA
59 India          560001     +91 080 22289999    NA
   Email                         SupportRepId
1  luisg@embraer.com.br          3
2  leonekohler@surfeu.de         5
3  ftremblay@gmail.com           3
4  bjorn.hansen@yahoo.no         4
5  frantisekw@jetbrains.com      4
6  hholy@gmail.com               5
7  astrid.gruber@apple.at        5
8  daan_peeters@apple.be         4
9  kara.nielsen@jubii.dk         4
10 eduardo@woodstock.com.br      4
11 alero@uol.com.br              5
12 roberto.almeida@riotur.gov.br 3
13 fernadaramos4@uol.com.br      4
14 mphilips12@shaw.ca            5
15 jenniferp@rogers.ca           3
16 fharris@google.com            4
17 jacksmith@microsoft.com       5
18 michelleb@aol.com             3
19 tgoyer@apple.com              3
20 dmiller@comcast.com           4
21 kachase@hotmail.com           5
22 hleacock@gmail.com            4
23 johngordon22@yahoo.com        4
24 fralston@gmail.com            3
25 vstevens@yahoo.com            5
26 ricunningham@hotmail.com      4
27 patrick.gray@aol.com          4
28 jubarnett@gmail.com           5
29 robbrown@shaw.ca              3
30 edfrancis@yachoo.ca           3
31 marthasilk@gmail.com          5
32 aaronmitchell@yahoo.ca        4
33 ellie.sullivan@shaw.ca        3
34 jfernandes@yahoo.pt           4
35 masampaio@sapo.pt             4
36 hannah.schneider@yahoo.de     5
37 fzimmermann@yahoo.de          3
38 nschroder@surfeu.de           3
39 camille.bernard@yahoo.fr      4
40 dominiquelefebvre@gmail.com   4
41 marc.dubois@hotmail.com       5
42 wyatt.girard@yahoo.fr         3
43 isabelle_mercier@apple.fr     3
44 terhi.hamalainen@apple.fi     3
45 ladislav_kovacs@apple.hu      3
46 hughoreilly@apple.ie          3
47 lucas.mancini@yahoo.it        5
48 johavanderberg@yahoo.nl       5
49 stanisław.wójcik@wp.pl        4
50 enrique_munoz@yahoo.es        5
51 joakim.johansson@yahoo.se     5
52 emma_jones@hotmail.com        3
53 phil.hughes@gmail.com         3
54 steve.murray@yahoo.uk         5
55 mark.taylor@yahoo.au          4
56 diego.gutierrez@yahoo.ar      4
57 luisrojas@yahoo.cl            5
58 manoj.pareek@rediff.com       3
59 puja_srivastava@yahoo.in      3

  COUNT(*)
1 59

  COUNT(CustomerId)
1 59

6. Utilizando apenas SQLite, identifique o número de países diferentes em que moram os clientes encontrados acima.

In [14]:
dbListFields(conn, "customers")

 [1] "CustomerId"   "FirstName"    "LastName"     "Company"      "Address"
 [6] "City"         "State"        "Country"      "PostalCode"   "Phone"
[11] "Fax"          "Email"        "SupportRepId"

In [33]:
## Selecionando os países:
## dbGetQuery(conn, "SELECT Country FROM customers")

## Selecionando os países distintos (sem repetição):
## dbGetQuery(conn, "SELECT DISTINCT(Country) FROM customers")

## Selecionando a soma os países distintos (sem repetição):
#sql = dbGetQuery(conn, "SELECT COUNT(DISTINCT Country) FROM customers")

## Renomeando o resultado para 'qtd' utilizamos o argumento AS e o nome que queremos antes do argumento FROM:
sql = "SELECT COUNT(DISTINCT Country) AS qtd FROM customers"
dbGetQuery(conn, sql)

  qtd
1 24

7. Utilizando apenas SQLite, quantos clientes existem por país? A tabela resultante deve conter o nome do país e a respectiva contagem, além de ser ordenada de maneira decrescente pela referida contagem.

In [27]:
## input  %>% group_by(Country)  %>% count()  %>% arrange(DESC(n))

sql = paste("SELECT Country, COUNT(CustomerId) AS n",
            "FROM customers", 
            "GROUP BY Country",
            "ORDER BY n DESC")
dbGetQuery(conn, sql)

   Country        n
1  USA            13
2  Canada          8
3  Brazil          5
4  France          5
5  Germany         4
6  United Kingdom  3
7  Czech Republic  2
8  India           2
9  Portugal        2
10 Argentina       1
11 Australia       1
12 Austria         1
13 Belgium         1
14 Chile           1
15 Denmark         1
16 Finland         1
17 Hungary         1
18 Ireland         1
19 Italy           1
20 Netherlands     1
21 Norway          1
22 Poland          1
23 Spain           1
24 Sweden          1

8. Quais são os 5 países com mais clientes registrados? Use apenas SQLite.

In [28]:
sql = paste("SELECT Country, COUNT(CustomerId) AS n",
            "FROM customers", 
            "GROUP BY Country",
            "ORDER BY n DESC",
            "LIMIT 5")
dbGetQuery(conn, sql)

  Country n
1 USA     13
2 Canada   8
3 Brazil   5
4 France   5
5 Germany  4

9. Quais são os países registrados que possuem apenas 6 letras no nome?

In [40]:
sql = "SELECT DISTINCT Country FROM Customers 
        WHERE Country GLOB '??????'"
dbGetQuery(conn, sql)

  Country
1 Brazil
2 Canada
3 Norway
4 France
5 Poland
6 Sweden

10. Quais foram as músicas compradas por clientes brasileiros?

In [47]:
sql = "SELECT CustomerId FROM customers WHERE Country = 'Brazil'"
dbGetQuery(conn, sql)

  CustomerId
1  1
2 10
3 11
4 12
5 13

Olhando o slide 4, vemos que precisamos juntar as tabelas **customers**, **invoices**, **invoice_items** e **tracks** para obter os nomes das músicas. Dessa forma, fazemos:

In [48]:
sql = "SELECT customers.CustomerId, InvoiceId FROM customers 
    INNER JOIN invoices
    ON customers.CustomerId = invoices.CustomerId
    WHERE Country = 'Brazil'"
## ON customers.CustomerId = invoices.CustomerId é a chave para o inner join
dbGetQuery(conn, sql)

   CustomerId InvoiceId
1   1          98
2   1         121
3   1         143
4   1         195
5   1         316
6   1         327
7   1         382
8  10          25
9  10         154
10 10         177
11 10         199
12 10         251
13 10         372
14 10         383
15 11          57
16 11          68
17 11         123
18 11         252
19 11         275
20 11         297
21 11         349
22 12          34
23 12         155
24 12         166
25 12         221
26 12         350
27 12         373
28 12         395
29 13          35
30 13          58
31 13          80
32 13         132
33 13         253
34 13         264
35 13         319

11. Desconecte do banco de dados.

In [ ]:
dbDisconnect(conn)